body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: white;
  transition: background-color 0.5s ease;
}

.weather-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.location-box {
  text-align: center;
  margin: 30px 0;
}

.location {
  font-size: 32px;
  font-weight: bold;
}

.date {
  font-size: 20px;
  font-weight: 300;
}

.weather-box {
  text-align: center;
}

.temp {
  font-size: 64px;
  font-weight: bold;
}

.weather {
  font-size: 32px;
  font-weight: 300;
}

.bg-cold {
  background: linear-gradient(
    to top,
    #00c6ff,
    #0072ff
  ); /* cold weather gradient */
}

.bg-cool {
  background: linear-gradient(
    to top,
    #2193b0,
    #6dd5ed
  ); /* cool weather gradient */
}

.bg-warm {
  background: linear-gradient(
    to top,
    #ffafbd,
    #ffc3a0
  ); /* warm weather gradient */
}

.bg-hot {
  background: linear-gradient(
    to top,
    #ff9966,
    #ff5e62
  ); /* hot weather gradient */
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  font-size: 1.5rem; /* Increase font size for better readability */
  color: #555; /* A softer color for the text */
  background-color: #f0f0f0; /* Light grey background */
}

.no-data p {
  margin: 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
